.container {
  max-width: 45rem;
  margin: 0 auto;
}

.errorMessage h1 {
  text-align: center;
  margin: 0 1rem 0 1rem;
}

.errorMessage button {
  margin: 0 auto;
  margin-top: 1rem;
  display: block;
  text-transform: uppercase;
}

.classes {
  padding-top: 9rem;
}

@media (max-width: 600px) {
  .classes {
    padding-top: 9em;
  }
}
