<app-toolbar  (date)="updateDatePicked($event)"
              [showDateControls]="true"
              [title]="'Clases'"
              [pageDate]=date
              ></app-toolbar>
<div class="container">
  <div class="classes"> <!-- TODO: Delete this button when implement it on menu -->
    <button (click)="logout()" mat-button>Log out man</button>
  </div>
  <!-- TODO: Add spinner -->
  <div class="classes">
    <app-class *ngFor="let class of classes" [class]="class"></app-class>
  </div>
</div>
