.user-avatar {
  border-radius: 50%;
  /* border: 1px solid lightgray; */
  box-shadow: 0px -1px 20px 0px rgba(0, 0, 0, 0.25);

  width: 8rem;
  height: 8rem;

  background: url("/assets/default-profile-img.png") no-repeat center;
  background-size: cover;
  background-blend-mode: multiply;

  display: flex;
  align-items: center;
  justify-content: center;
  color: transparent;
  transition: all 0.3s ease;
  text-decoration: none;
  cursor: default;

  margin: 0 auto;
}

/* TODO: Uncomment this when upload image feature is available */
/* .user-avatar:hover {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;
  color: #fff;
  transition: all 0.3s ease;
  text-decoration: none;
} */

.user-avatar span {
  display: inline-block;
  width: 80%;
  text-align: center;
  text-transform: uppercase;
}

#full-user-name {
  text-align: center;
  font-size: x-large;
  max-width: 70%;
  word-break: break-word;
  margin: 0 auto;
  margin-top: 1rem;
}
