<mat-card class="class">
  <mat-card-header>
    <mat-card-title>{{durationPeriod}}</mat-card-title>
    <mat-card-subtitle>{{class.numMaxClients - class.usersJoined.length}} plazas disponibles</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <ng-container *ngIf="class.usersJoined as clients">
      <div *ngFor="let client of clients"
           matTooltip="{{getClientDisplayableName(this, client.id)}}"
           [ngStyle]="{'background-image': 'url(' + client.profileImage + ')'}"
           class="user-avatar"></div>
    </ng-container>
  </mat-card-content>
  <mat-card-actions *ifRole="'user'" class="button-to-left">
    <button [disabled]="isClassAvailable(class) || class.usersJoined!.length >= class!.numMaxClients ? '' : null" *ngIf="!class.isUserJoined" (click)="joinClass()" type="button" mat-flat-button color="primary">
      <div>Apuntarme</div>
      <mat-icon>person_add</mat-icon>
    </button>
    <button [disabled]="isClassAvailable(class) || class.usersJoined!.length >= class!.numMaxClients ? '' : null" *ngIf="class.isUserJoined" (click)="removeFromClassDialog()" type="button" mat-flat-button color="warn" class="joined">
      <div>Apuntado</div>
      <mat-icon>person_remove</mat-icon>
    </button>
  </mat-card-actions>
  <mat-card-actions *ifRole="'admin'" class="button-to-left">
    <button (click)="deleteClassDialog()" type="button" mat-flat-button color="warn">
      <div>Borrar clase</div>
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
