<mat-card class="class">
  <mat-card-header>
    <mat-card-title>{{durationPeriod}}</mat-card-title>
    <mat-card-subtitle>{{class.numMaxClients}} plazas disponibles</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      here it goes the images with the people...
    </p>
  </mat-card-content>
  <mat-card-actions class="button-to-left">
    <button mat-flat-button color="primary">Apuntarme <mat-icon>person_add</mat-icon></button>
    <!-- <button mat-flat-button color="warn">Desapuntarme <mat-icon>person_remove</mat-icon></button> -->
  </mat-card-actions>
</mat-card>
