<mat-card class="class">
  <mat-card-header>
    <mat-card-title>{{durationPeriod}}</mat-card-title>
    <mat-card-subtitle>{{class.numMaxClients}} plazas disponibles</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      here it goes the images with the people...
    </p>
  </mat-card-content>
  <mat-card-actions *ifRole="'user'" class="button-to-left">
    <button *ngIf="!class.isUserJoined" (click)="joinClass()" type="button" mat-flat-button color="primary">
      <div>Apuntarme</div>
      <mat-icon>person_add</mat-icon>
    </button>
    <button *ngIf="class.isUserJoined" (click)="removeFromClassDialog()" type="button" mat-flat-button color="warn" class="joined">
      <div>Apuntado</div>
      <mat-icon>person_remove</mat-icon>
    </button>
  </mat-card-actions>
  <mat-card-actions *ifRole="'admin'" class="button-to-left">
    <button type="button" mat-flat-button>I'm the fucking ADMIN</button>
  </mat-card-actions>
</mat-card>
