div {
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #3f51b5; /* TODO: Take the primary color angular material variable */
}

mat-card {
  width: 30vw;
  max-width: 20rem;
  min-width: 16rem;
  box-shadow: 0px 0px 15px 10px rgb(0 0 0 / 10%) !important;
}

.loginErrorMessage {
  text-align: center !important;
  margin-bottom: 1rem;
  border: 1px solid red !important;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: rgba(255, 0, 0, 0.1);
}

h1 {
  font-size: 1.8rem;
}

h1,
a {
  text-align: center;
}

mat-form-field {
  width: 100%;
  margin-bottom: 0.5rem;
}

mat-form-field:last-of-type {
  margin-bottom: 1.5rem;
}

mat-icon {
  cursor: pointer;
  border-radius: 50%;
}

mat-hint.invalid {
  color: red;
}

button {
  display: block;
  margin: 0 auto;
  height: 3rem;
  width: 80%;
  margin-bottom: 0.7rem;
  text-transform: uppercase;
}

a {
  display: block;
  text-decoration: none;
  color: #222222;
  margin-top: 1.6rem;
}

a:hover {
  text-decoration: underline;
}
