div {
  height: 100vh;
  display: grid;
  place-items: center;
}

mat-card {
  width: 30vw;
  max-width: 20rem;
  min-width: 16rem;
  transition: 0.5s;
}

mat-card:hover {
  box-shadow: 0px 0px 10px 1px rgba(34, 34, 34, 0.2) !important;
  transition: 0.5s;
}

h1 {
  font-size: 1.8rem;
}

h1,
a {
  text-align: center;
}

mat-form-field {
  width: 100%;
  margin-bottom: 0.5rem;
}

mat-form-field:last-of-type {
  margin-bottom: 1.5rem;
}

mat-icon {
  cursor: pointer;
  border-radius: 50%;
}

mat-hint.invalid {
  color: red;
}

button {
  display: block;
  margin: 0 auto;
  height: 3rem;
  width: 80%;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

a {
  display: block;
  text-decoration: none;
  color: #222222;
  margin-top: 1.6rem;
}

a:hover {
  text-decoration: underline;
}
