<div class="container">
  <div class="user">
    <!-- <div [ngStyle]="{'background-image': 'url(' + profileImg + ')'}"
          class="user-avatar"></div> -->
    <div class="user-avatar"></div>
    <div class="user-info">
      <div class="user-name">Manolo Eltaño</div>
      <div class="user-email">manolo@gmail.com</div>
    </div>
    <div class="actions">
      <button mat-icon-button type="button" [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Dar de baja</button>
      </mat-menu>
    </div>
  </div>



  <div class="user">
    <!-- <div [ngStyle]="{'background-image': 'url(' + profileImg + ')'}"
          class="user-avatar"></div> -->
    <div class="user-avatar"></div>
    <div class="user-info">
      <div class="user-name">Manolo Eltaño</div>
      <div class="user-email">manolo@gmail.com</div>
    </div>
    <div class="actions">
      <button mat-icon-button type="button" [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Dar de baja</button>
      </mat-menu>
    </div>
  </div>
  <div class="user">
    <!-- <div [ngStyle]="{'background-image': 'url(' + profileImg + ')'}"
          class="user-avatar"></div> -->
    <div class="user-avatar"></div>
    <div class="user-info">
      <div class="user-name">Manolo Eltaño</div>
      <div class="user-email">manolo@gmail.com</div>
    </div>
    <div class="actions">
      <button mat-icon-button type="button" [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Dar de baja</button>
      </mat-menu>
    </div>
  </div>
  <div class="user">
    <!-- <div [ngStyle]="{'background-image': 'url(' + profileImg + ')'}"
          class="user-avatar"></div> -->
    <div class="user-avatar"></div>
    <div class="user-info">
      <div class="user-name">Manolo Eltaño</div>
      <div class="user-email">manolo@gmail.com</div>
    </div>
    <div class="actions">
      <button mat-icon-button type="button" [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Dar de baja</button>
      </mat-menu>
    </div>
  </div>
</div>
