<!-- TODO: Change class names (example...) -->
<!-- TODO: Make desktop sidenav open -->
<mat-sidenav-container class="example-container" autosize>
  <mat-sidenav [opened]="opened || !mobileQuery.matches && authService.isLogginIn()" class="example-sidenav" [mode]="mobileQuery.matches ? 'over' : 'side'"
              position="end"
              [fixedInViewport]="true"
              fixedTopGap="0"
              (closed)="opened = false">

    <div class="user-avatar">
      <div>No image</div>
    </div>
    <h1 class="username">{{username}}</h1>

    <mat-nav-list>
      <mat-list-item (click)="logout()">
        <div class="sidenav-option">
          <mat-icon>exit_to_app</mat-icon>
          <span>Cerrar sesión</span>
        </div>
      </mat-list-item>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content autosize>
    <app-toolbar *ngIf="authService.isLogginIn()" [title]="'Clases'" (onMenuButtonClick)="showMenu()"
                  [isMobileSize]="!mobileQuery.matches">
    </app-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
