<mat-sidenav-container class="example-container" autosize>
  <mat-sidenav [opened]=opened class="example-sidenav" [mode]="mobileQuery.matches ? 'over' : 'side'"
              position="end"
              [fixedInViewport]="true"
              fixedTopGap="0"
              (closed)="opened = false">
    <p>Auto-resizing sidenav</p>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-toolbar [title]="'Clases'" (onMenuButtonClick)="showMenu()"></app-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
