<!-- TODO: Change class names (example...) -->
<!-- TODO: Make desktop sidenav open -->
<mat-sidenav-container class="example-container" autosize>
  <mat-sidenav [opened]="(opened || !mobileQuery.matches) && isUserLoggedIn" class="example-sidenav" [mode]="mobileQuery.matches ? 'over' : 'side'"
              position="end"
              [fixedInViewport]="true"
              fixedTopGap="0"
              (closed)="opened = false">

    <div [ngStyle]="{'background-image': 'url(' + profileImg + ')'}"
        class="user-avatar"></div>
    <h1 class="username">{{username$ | async}}</h1>

    <mat-nav-list>
      <a routerLink="/classes">
        <mat-list-item>
          <div class="sidenav-option">
            <mat-icon>date_range</mat-icon>
            <span *ifRole="'admin'">Clases</span>
            <span *ifRole="'user'">Mis clases</span>
          </div>
        </mat-list-item>
      </a>
      <a routerLink="/administration" *ifRole="'admin'">
        <mat-list-item>
          <div class="sidenav-option">
            <mat-icon>settings</mat-icon>
            <span>Administración</span>
          </div>
        </mat-list-item>
      </a>
      <mat-list-item (click)="logout()">
        <div class="sidenav-option">
          <mat-icon>exit_to_app</mat-icon>
          <span>Cerrar sesión</span>
        </div>
      </mat-list-item>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content autosize>
    <app-toolbar *ngIf="isUserLoggedIn"
                 (onMenuButtonClick)="showMenu()">
    </app-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>

<app-loader></app-loader>
