mat-form-field {
  display: block;
  width: 100%;
  font-size: 1.05rem;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  background: none;
}

.icon-mat {
  color: rgba(0, 0, 0, 0.54);
  padding: 0 10px;
}

.clock-time {
  position: absolute;
  bottom: 0;
  right: 0;
  pointer-events: none;
}
