mat-toolbar {
  position: fixed;
  z-index: 100;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.35);
  transition: width 400ms;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
}
@media (min-width: 640px) {
  mat-toolbar {
    width: calc(100% - 16rem);
    transition: width 400ms;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  }

  .menu-icon {
    display: none;
  }
}

.fixed-space {
  position: inherit;
  box-shadow: none;
  margin-bottom: 1.2rem;
  visibility: hidden;
}

.zero-height {
  height: 0;
}

.spacer {
  width: 40px;
}
@media (min-width: 640px) {
  .spacer {
    display: none;
  }
}

.toolbar-title {
  margin: 0 auto;
}

.toolbar-prev-calendar-next-row {
  justify-content: space-between;
  margin: 0 auto;
  max-width: 45rem;
}

.desktop-style {
  width: calc(100% - 16rem);
  transition: width 400ms;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
}
