<!-- TODO: El toolbar tiene un tamaño de 56. Poniendo top 56 quedaría bien el div de abajo -->
<!-- <mat-toolbar [style.position]="fixed" color="primary"> -->
<mat-toolbar [ngStyle]="{'width': isMobileSize ? 'calc(100% - 20rem)' : '100%'}" color="primary">
  <mat-toolbar-row>
    <span class="spacer"></span>
    <span class="toolbar-title">{{title}}</span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon *ngIf="!isMobileSize" (click)="showMenu()">menu</mat-icon>
    </button>
  </mat-toolbar-row>

  <mat-toolbar-row *ngIf="showDateControls" class="toolbar-prev-calendar-next-row">
    <button (click)="previousDay()" type="button" mat-icon-button>
      <mat-icon>arrow_back</mat-icon>
    </button>

    <div>
      <input hidden matInput [matDatepicker]="picker" [(ngModel)]="date" (dateChange)="onDatePick($event)">
      <mat-datepicker touchUi #picker></mat-datepicker>
      <button mat-icon-button (click)="picker.open()">
        <mat-icon>today</mat-icon>
      </button>
    </div>

    <button (click)="nextDay()" type="button" mat-icon-button>
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
