<div class="container">
  <!-- TODO: Add icon for minimize the configurations -->
  <div class="section-title">
    <h1>Alumnos</h1>
    <!-- TODO: Add functionality -->
    <mat-icon>expand_more</mat-icon>
  </div>
  <section class="section">
    <mat-card class="card">
      <mat-card-title>Registrar nuevo alumno</mat-card-title>
      <form [formGroup]="newClientForm" (ngSubmit)="onSubmitRegister()" class="newClientForm form">
        <mat-form-field appearance="outline">
          <mat-label>Email del nuevo alumno</mat-label>
          <input formControlName="email" type="email" placeholder="Ej: manoloeldelbombo@gmail.com" matInput>
        </mat-form-field>
        <mat-card-actions class="action-buttons">
          <button mat-flat-button type="submit" [disabled]="newClientForm.invalid" color="primary">Registrar alumno</button>
        </mat-card-actions>
      </form>
    </mat-card>

    <mat-card class="card">
      <mat-card-title>Mis alumnos</mat-card-title>
      <form class="myClientsForm form">
        <mat-form-field appearance="outline">
          <mat-label>Nombre del alumno</mat-label>
          <input type="text"
                 placeholder="Ej: Matías"
                 matInput>
                 <!-- TODO: Add autocomplete -->
                 <!-- [formControl]="myControl"
                 [matAutocomplete]="auto"> -->
          <!-- <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete> -->
        </mat-form-field>
        <p class="emailText">Email de NOMRE_ALUMNO:</p>
        <p class="emailText">EMAIL_ALUMNO</p>
        <mat-card-actions class="action-buttons">
          <!-- TODO: Add action -->
          <button mat-stroked-button type="button" color="warn">Dar de baja</button>
        </mat-card-actions>
      </form>
    </mat-card>
  </section>


  <div class="section-title">
    <h1>Otras opciones</h1>
    <mat-icon>expand_more</mat-icon>
  </div>
  <section class="section">
    <mat-card class="card">
      <mat-card-title>Número de alumnos por clase</mat-card-title>
      <mat-card-subtitle>Valor por defecto. Se puede cambiar para las clases que se quiera.</mat-card-subtitle>
      <form class="configurationsForm form">
        <mat-form-field appearance="outline">
          <mat-label>Número máximo de alumnos por clase</mat-label>
          <input disabled type="number" matInput>
        </mat-form-field>
      </form>
      <p class="version-warning">* Esta opción no está disponible en la versión actual.</p>
    </mat-card>
  </section>

  <div class="section-title">
    <h1>Horarios</h1>
    <mat-icon>expand_more</mat-icon>
  </div>
  <p class="version-warning">* Esta opción no está disponible en la versión actual.</p>
  <section class="section"></section>
</div>
