<div class="container">
  <h1 class="section-title">Alumnos</h1>
  <section class="section">
    <mat-card class="card">
      <mat-card-title>Mis alumnos</mat-card-title>
      <p>Something here...</p>
    </mat-card>
    <mat-card class="card">
      <mat-card-title>Registrar nuevo alumno</mat-card-title>
      <p>Something here...</p>
    </mat-card>
  </section>

  <h1 class="section-title">Otras configuraciones</h1>
  <section class="section">
    <mat-card class="card">
      <mat-card-title>Número de alumnos por clase</mat-card-title>
      <mat-card-subtitle>Máximo número de alumnos por defecto</mat-card-subtitle>
      <p>Something here...</p>
    </mat-card>
  </section>
</div>
