.container {
  max-width: 45rem;
  margin: 0 auto;
}

.section-title {
  font-size: 22px;
  font-weight: 500;
  width: 80%;
  margin: 0 auto 1rem 0.5rem;
  background-color: #3f51b5;
  color: white;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 3px;
  padding-left: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-title h1,
.section-title mat-icon {
  font-size: 18px;
  font-weight: 500;
  display: inline-block;
  margin: 0;
}

.section-title mat-icon {
  margin-right: 1rem;
  font-size: 22px;
  font-weight: 900;
}

.section {
  margin-bottom: 2rem;
}

.section:last-of-type {
  margin-bottom: 8em;
}

.card {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  width: 85%;
  margin: 0 auto;
  margin-bottom: 0.8rem;
  padding-bottom: 0;
}

.card mat-card-title {
  font-size: 18px;
}

.form {
  margin-top: 0.7rem;
}

.form mat-form-field {
  width: 100%;
}

.emailText,
.emailText:first-of-type {
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
}

.emailText {
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
}

.action-buttons {
  display: flex;
  justify-content: flex-end;
}

.action-buttons button {
  margin: 0 0.5rem 0.5rem 0 !important;
}
